<p>datatypes works!</p>
<div class="data">
    First Name:{{name}}<br/>
    Age:{{age}}<br/>
    Hobbies:{{hobbies}}<br>
    Marks:{{marks}}<br>
    Boolean:{{Istrue}}<br>
    Tuple:{{tupleval}}<br>
    Any:{{dynamicvalue}}<br>
Object:

FatherName:{{student.Fathername}}
Address:{{student.Address}}
<br>

JSOn:{{student|json}}

</div>
<hr>
<img src="assets/images/jaguar.jpg" alt="jaguar" height="30" width="30"/>
<hr>
<img src={{picture}} alt="kiaa"/>
<hr>
<h2>Property Binding</h2>
<img [src]=picture alt="kiaa"/>
